@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kode Mono", monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
}

.container {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  background-color: #1B1A55;
  border-radius: 6px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2)
}

.game-details {
  color: #9290C3;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}

.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background-color: #070F2B;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
  background: orangered;
  border-radius: 100px;
  scale: 0.8;
}

.play-board .head {
  background: #9290C3;
}

.controls {
  display: none;
  justify-content: space-between;
}

.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid black;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #535C91(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-button {
  padding: 12px;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  background-color: #9290C3;
  cursor: pointer;
}

#start-button:hover {
  background-color: orangered;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #1B1A55;
  color: #9290C3;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 50%;
  max-width: 400px;
}

#play-again {
  font-size: 24px;
  padding: 12px;
  margin-top: 10px;
  background-color: #9290C3;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#play-again:hover {
  background-color: orangered;
}

@media screen and (max-width: 800px) {
  .container {
    width: 90vmin;
    height: 115vmin;
  }

  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }

  .controls {
    display: flex
  }

  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}